html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #fff;
  height: 100%;
  overflow: hidden; /* evita scroll no mobile */
  background: radial-gradient(circle at top, #0d1117, #000);
}

* {
  box-sizing: inherit;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
